{% extends 'admin/index.html.twig' %}

{% block title %}Vaccin index{% endblock %}

{% block body %}
<h1>Vaccin index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Texte</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for vaccin in vaccins %}
        <tr>
            <td>{{ vaccin.id }}</td>
            <td>{{ vaccin.Titre }}</td>
            <td>{{ vaccin.Texte[:20] }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ path('vaccin_show', {'id': vaccin.id}) }}">Voir</a>
                <a class="btn btn-secondary btn-sm" href="{{ path('vaccin_edit', {'id': vaccin.id}) }}">Editer</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary " href="{{ path('vaccin_new') }}">Créer une nouvelle actualité sur les vaccins</a>
{% endblock %}