{% extends 'admin/index.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
<h1>Liste des inscriptions</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Secu</th>

        </tr>
    </thead>
    <tbody>
        {% for inscription in inscriptions %}
        <tr>
            <td>{{ inscription.id }}</td>
            <td>{{ inscription.Nom }}</td>
            <td>{{ inscription.Prenom }}</td>
            <td>{{ inscription.Email }}</td>
            <td>{{ inscription.Secu }}</td>

        </tr>
        {% else %}
        <tr>
            <td colspan="6">Pas d'enregistrement</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}