<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tous anti-Covid" />
    <meta name="keywords" content="anti-covid,gouvernement" />
    <meta name="author" content="Cadot Michael" />
    <meta name="copyright" content="Cadot Michael" />
    <meta name="robots" content="index" />
    <meta name="Subject" content="Accueil">
    <meta name="Identifier-Url" content="study1.cadot.info/index.php">
    <meta name="Reply-To" content="webmestre@cadot.info">
    <meta name="Category" content="virus,protection">
    <meta name="description" content="Le Gouvernement agit pour vous." />
    <link rel="icon" type="image/png" href="favicon.png" />
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            {% block menu %}
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/"><img class="img-fluid" src="{{asset('build/logo_mobile.png')}}"
                            style=" height:3rem;">
                    </a>
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        {% set route=path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) %}
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link{% if route=='/'%} active {% endif %}"
                                    href="{{path('home')}}">Actualités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if route=='/avancees'%} active {% endif %}"
                                    href="{{path('avancees')}}">Avancées</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if route=='/vaccins'%} active {% endif %}"
                                    href="{{path('vaccins')}}">Vaccination</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if route=='/solidaire'%} active {% endif %}"
                                    href="{{path('solidaire')}}">Tous solidaire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if route=='/centre'%} active {% endif %}"
                                    href="{{path('centre')}}">Trouver un centre</a>
                            </li>
                        </ul>

                        {% if app.user %}
                        <form class="form-inline my-2 my-lg-0">
                            <span class="form-control mr-sm-2">{{app.user.nomprenom}}</span>
                            <a href="{{path('app_logout')}}" class="btn btn-outline-success my-2 my-sm-0"
                                type="button">Déconnexion</a>
                        </form>

                        {% else %}
                        <form class="form-inline my-2 my-lg-0">
                            <a href="{{path('app_login')}}" class="btn btn-outline-success my-2 my-sm-0"
                                type="button">Connexion</a>
                        </form>


                        {% endif %}
                    </div>
                </nav>
            </div>
            {% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}
        </div>
    </div>
    <div class="row bg-primary p-3 mt-5">
        <div class="col-3 ">
            <img class="img-fluid" src="{{asset('build/logo_mobile.png')}}" style=" height:3rem;">
        </div>
        <div class="col-9 ">
            <dh>
                <dt>Adresse:13 rue de l'lysée, 75000 Paris</dt>
                <dt><a style="color: #444;" href="mailto:toto@gouvernement.fr">Ecrire au ministère de la santé</a></dt>
            </dh>
        </div>

    </div>
    {% endblock %}
    </div>
</body>

</html>